<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Get-it</title>
  <link rel="stylesheet" href="{{{{ url_for('static', filename='styles/getit.css') }}}}">
  <script defer src="{{{{ url_for('static', filename='js/getit.js') }}}}"></script>
</head>

<body>

  <img src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}" width="200px">
  <p>Como o Post-it, mas com outro verbo</p>
  <form id="edit-form">
    <div>
      <label for="titulo">Título</label>
      <input id="titulo" type="text" name="titulo" value="{defaultTitle}" />
      <label for="detalhes" class="detail">Detalhes</label>
      <input id="detalhes" name="detalhes" width="200px" value="{defaultDetail}"></input>
    </div>
    <div>
      <button type="submit">Salvar</button>
      <a href="/" class="btn" name="edit_cancel">Cancelar</a>
    </div>
  </form>

</body>

</html>